NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
OPENAI_API_KEY=
OPENAI_FORMATTING_MODEL=gpt-4o-mini
OCR_PROVIDER=google-ai-studio
GOOGLE_APPLICATION_CREDENTIALS_JSON=
GOOGLE_AI_STUDIO_API_KEY=
GOOGLE_AI_STUDIO_MODEL=gemini-2.5-flash
Google_Vision_ApI=
